services:
  - type: web
    name: seyirtepe-frontend
    env: static
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    envVars:
      - key: NODE_VERSION
        value: 20.11.0
      - key: VITE_API_URL
        value: https://seyirtepe-api.onrender.com
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
